.admin-nav{
    float: left;
    height: fit-content;
    width: fit-content;
    margin-left: 5%;
    display: table;
    background-color: #d8dee9;
    border: solid 1px grey;
    border-radius: 15px;
    border-spacing: 10px; /*On sépare les boutons entre eux*/
}
.admin-nav-element{
    display: table-row;
}