/*Palette de couleur définie pour l'ensemble des éléments des pages*/
:root{
    --sissa_dark_blue: #3b4252;
    --sissa_light_blue: #007BFF;
    --sissa_night_sky: #003366;
    --sissa_error_red: #d9534f;
}