html {
    height: 100%;
	margin: 0; padding: 0;
    background-color: ghostwhite;
}
body {
    font-family: Helvetica, sans-serif;
    height: 100%;
	margin: 0; padding: 0;
    display: table;
    width: 100%;
}
.footer{
    background-color: var(--sissa_dark_blue); /* Couleur bleu */
    overflow: hidden;
    border-bottom: 1px solid grey;
    color: white;
    width: 100%;
    height: 70px;
    display: table-row;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Style de la barre de navigation */
.navbar {
    background-color: var(--sissa_dark_blue); /* Couleur bleu */
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    border-bottom: 1px solid grey; /*Petit détail*/
}
/*CCS Pour la partie déconnexion*/
.connect-navbar{
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*CSS pour le titre*/
.title-navbar{
    grid-column: 2;
    display: flex;
    justify-content: left;
    align-items: center;
}
/*CSS pour la partie navigation*/
.inner-navbar{
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
}
a{
    float: left; /* Aligne les boutons à gauche */
    display: block;
    color: white; /* Couleur du texte */
    text-align: center;
    text-decoration: none; /* Supprime le soulignement */
}
p{
    text-align: left;
}
/* Style des liens dans la barre de navigation */
.navbar a {
    float: left; /* Aligne les boutons à gauche */
    display: block;
    color: white; /* Couleur du texte */
    text-align: center;
    padding: 14px 20px; /* Padding pour les boutons */
    text-decoration: none; /* Supprime le soulignement */
    border-radius: 10px;
}
/* Change la couleur au survol */
.navbar a:hover:not(.page_selected):not(.color-button):not(.profile-button){
    background-color: var(--sissa_night_sky);
    transition: all 0.1s ease;
    
}
.navbar a:hover{
    transform: scale(1.04);
}
.page_selected {
    background-color: var(--sissa_light_blue); /* Couleur plus foncée au survol */
    color: white;
    border-radius: 10px;
}
#titre {
    color: white; 
}
/* Contenu de la page */
.content {
    padding: 20px;
    text-align: center;
}
.color-button {
    background-color: var(--sissa_light_blue); 
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Coins arrondis */
}
/* Style pour le conteneur du panier dans la navbar */
.panier {
    position: relative; /* Pour permettre le positionnement absolu du badge */
    display: inline-block; /* Assure que le conteneur ne prend que l'espace nécessaire */
    margin: 0 5px; /* Espace autour du conteneur */
}

/* Style pour le lien panier */
.panier a {
    display: inline-block; /* Nécessaire pour un positionnement correct */
    position: relative; /* Pour établir un contexte de positionnement */
    padding : 14px 20px; /* Espace supplémentaire pour le badge */
    text-align: center; /* Centrer le texte du lien */
}

.badge-panier {
    position: absolute;
    top: -10px; /* Position au-dessus du texte */
    right: -10px; /* Légèrement décalé vers la droite */
    background: transparent; /* Fond transparent par défaut */
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 0.8em;
    min-width: 16px; /* Largeur minimale du badge */
    text-align: center;
    z-index: 1; /* Assure que le badge est au-dessus du texte */
    border : 1px solid white; /* Bordure blanche pour le badge */
}

/* Ajustement pour la version sélectionnée */
.panier a.page_selected + .badge-panier {
    background: var(--sissa_light_blue); /* Assorti à la classe page_selected */
}

/* Changement de couleur au survol */
.panier:hover .badge-panier {
    background: var(--sissa_night_sky); /* Assorti à la classe page_selected */
    color: white; /* Couleur du texte au survol */
}

/* Pour les petits écrans*/
@media screen and (max-width: 768px) {
    .panier {
        margin: 0 5px; /* Maintenir l'espace même sur petit écran */
    }
    
    .badge-panier {
        top: -8px; /* Légèrement ajusté pour les petits écrans */
        right: -3px;
    }
}
.disconnect-button{
    background-color: var(--sissa_error_red);
}
.special-button{
    background-color: #099268;
}
.error{
    color: var(--sissa_error_red);
    text-align: center;
}
.leaderboard-wrapper{
    position: absolute;
    width: fit-content;
}
.leaderboard{
    display: grid;
    height: fit-content;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    position: relative;
    background: white;
    flex-direction: column;
    padding: 10px 25px;
    box-shadow: 5px 5px 5px #e1e1e1;
}
.leaderboard-head{
    color: var(--sissa_light_blue);
    grid-row: 1;
    text-align: left;
}
.leaderboard-head h1{
    color: var(--sissa_light_blue);
}
.leaderboard-content{
    grid-row: 2;
}
.hide-button{
    background-color: var(--sissa_light_blue); 
    color: white;
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Coins arrondis */
}
.leaderboard-element{
    border-bottom: #e1e1e1 solid 1px;
    display: table-row;
    width: 12vw;
    font-size: medium;
}
.leaderboard-pts{
    color: #ff3300;
    font-weight: bold;
}
.leaderboard-global-wrapper{
    display: flex;
    justify-content: center;
}
/* Prix en promotion */
.prix-original {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9em;
    margin-right: 8px;
}

.prix-promotion {
    color: #e74c3c;
    font-weight: bold;
}

/* Badge promotion */
.badge-promo, .badge-promotion {
    background-color: #e74c3c;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.connect{
    border: 1px solid black;
    height: 75%;
    font-size: small;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: var(--sissa_night_sky);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar .profile-button{
    padding: 0px;
}
.index-content{
    display: flex;
    justify-content: center;
}
.content-carte{
    justify-content: center;
    width: 15vw;
    margin: 33px;
    margin-top: 10vh;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.content-carte p,h2{
    text-align: center;
    color: black;
}
.content-carte:hover{
    transform: scale(1.02);
}
.result{
    background-color: #eceff4;
    box-shadow: 0px 1px 1px;
    border-radius: 15px;
    position: fixed;
    align-items: center;
    height: fit-content;
    width: 30vw;
    padding: 2em;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.result-content h3{
    text-align: center;
}
.result-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.statistique{
    grid-column: 1;
    grid-row: 1;
}
.statistique p {
    text-align: center;
}
.resultat{
    grid-column: 2;
    grid-row: 1;
}
.resultat p {
    text-align: center;
}
.result button{
    position: absolute;
    bottom: 0;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.win{
    color: #099268;
}
.defeat{
    color: var(--sissa_error_red);
}
.result-pts{
    color:#ff3300;
}
.lead{
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-content: center;
}