html {
    height: 100%;
	margin: 0; padding: 0;
    background-color: ghostwhite;
}
body {
    font-family: Helvetica, sans-serif;
    height: 100%;
	margin: 0; padding: 0;
    display: table;
    width: 100%;
}
.footer{
    background-color: var(--sissa_dark_blue); /* Couleur bleu */
    overflow: hidden;
    border-bottom: 1px solid grey;
    color: white;
    
    width: 100%;
    height: 7.5%;
    display: table-row;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Style de la barre de navigation */
.navbar {
    background-color: var(--sissa_dark_blue); /* Couleur bleu */
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    border-bottom: 1px solid grey; /*Petit détail*/
}
/*CCS Pour la partie déconnexion*/
.connect-navbar{
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*CSS pour le titre*/
.title-navbar{
    grid-column: 2;
    display: flex;
    justify-content: left;
}
/*CSS pour la partie navigation*/
.inner-navbar{
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
}
a{
    float: left; /* Aligne les boutons à gauche */
    display: block;
    color: white; /* Couleur du texte */
    text-align: center;
    text-decoration: none; /* Supprime le soulignement */
}
p{
    text-align: left;
}
/* Style des liens dans la barre de navigation */
.navbar a {
    float: left; /* Aligne les boutons à gauche */
    display: block;
    color: white; /* Couleur du texte */
    text-align: center;
    padding: 14px 20px; /* Padding pour les boutons */
    text-decoration: none; /* Supprime le soulignement */
}
/* Change la couleur au survol */
.page_selected {
    background-color: var(--sissa_light_blue); /* Couleur plus foncée au survol */
    color: white;
    border-radius: 10px;
}
#titre {
    color: white; 
}
/* Contenu de la page */
.content {
    padding: 20px;
    text-align: center;
}
.color-button {
    background-color: var(--sissa_light_blue); /* Vert */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Coins arrondis */
}